:root {
    --font: 'Barlow Semi Condensed', sans-serif;
    /* Primary */
    --moderateViolet: hsl(263, 55%, 52%);
    --veryDarkGrayishBlue: hsl(217, 19%, 35%);
    --veryDarkBlackishBlue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--font);
    font-size: 1.3rem;
    background-color: var(--lightGrayishBlue);
    margin:  0;
}
.container {
    width: min(90%, 120rem);
    margin: 0 3rem;
}
h1 {
    color: var(--darkGrayishBlue);
    font-size: 3.8rem;
}

.center-text {
    text-align: center;
}

.botones {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 2rem;
}

.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 4rem;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}
.btn {
    min-width: 12rem;
    padding: 1rem 0;
    border-radius: 5rem;
    border: 0;
    color: white;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--moderateViolet);
}
.btn-danger {
    background-color: var(--veryDarkBlackishBlue);
}
.btn-primary {
    background-color: var(--veryDarkGrayishBlue);
}

    

